/*Variaveis*/
:root {
    --cor01: #56E39F;
    --cor02: #E2294F;
    --cor03: #E899DC;
    --cor04: #69306D;
    --cor05: #361134;
}
/*Global*/

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9d2e5;
    font-size: 1em;
}
ul {
    list-style: none;
}
/*Cabeçalho da página*/
header {
    background-color: var(--cor05);
    text-align: center;
    margin-bottom: 20px;
}
#logo {
    padding: 15px;
}
#logo h1 {
    font-size: 2.3em;
    color: var(--cor02);
}
nav {
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: var(--cor02);
    padding: 10px;
}
nav a:hover {
    background-color: var(--cor02);
    border-radius: 5px;
    color: var(--cor05);
}
/*Estrutura da página*/

/*conteudo da pagina*/
main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
#conteudo {
    width: 660px;
}
#conteudo section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 4px 9px -3px rgba(0, 0, 0, 0.399);
    padding: 20px;
    margin-bottom: 20px;
}
#conteudo section h2 {
    color: var(--cor02);
}
#conteudo section p {
    text-align: justify;
}
#conteudo section a {
    text-decoration: none;
    color: var(--cor02);
}
#conteudo section a:hover {
    text-decoration: underline;
}
.data {
    font-size: 0.8em;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.251);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/*conteudo lateral da pagina*/
aside {
    width: 240px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
aside section {
    background-color: white;
    box-shadow: 3px 4px 9px -3px rgba(0, 0, 0, 0.399);
    border-radius: 10px;
    padding: 10px;
}
aside section h2 {
    background-color: rgb(94, 0, 88);
    color: var(--cor02);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.3em;
}
aside section p {
    font-size: 0.9em;
}
aside section a{
    text-decoration: none;
    color: var(--cor02);
    list-style: none;
}
aside section a:hover {
    text-decoration: underline;
}
.conteudo-post-day {
    padding: 5px;
}
.conteudo-post-day a {
    font-size: 0.9em;
}
/*rodapé*/
footer {
    background-color: var(--cor05);
    color: var(--cor02);
    text-align: center;
    padding: 20px;
}
/*medias queries*/
@media only screen and (max-width: 930px) {
    aside {
        display: none;
    }
}
@media only screen and (max-width: 450px) {

    #conteudo section {
        font-size: 0.8em;
    }
    #menu-delete {
        display: none;
    }
}
